

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #C4BEB5;
    }


#navbar {
    background-color: #2F332D;
    overflow: hidden;
    border: #1B1E18 20px solid;
    height: 90px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: xx-large; 
}



a:link {
    color: rgb(65, 195, 228);
    text-decoration: none;
}

a:visited {
    color: rgb(65, 195, 228);
}

a:hover {
    color: hotpink;
}

h1 {
    color: rgb(65, 195, 228);
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 1% 20% 5% 20%;/* top right bottom left */
}

div.gallery {
    border: 8px solid rgb(65, 195, 228);
    display: block;
    margin: auto;
  }
  
  div.gallery:hover {
    border: 10px solid hotpink;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: #FFFDFA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


p {
    color: #FFFDFA;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: flex-end;
    margin: 1% 20% 1% 20%;/* top right bottom left */
}

.coffeebarimg-1 {
    width: 60%;
    margin: 8% 20% 1% 20%;/* top right bottom left */
}


.drinkimg-1 {
    width: 40%;
}

.drinkimg-2 {
    width: 30%;
}

.drinkimg-3 {
    width: 30%;
}

.drinkimg-4 {
    width: 30%;
}


.pastryimg-1 {
    width: 30%;
}

.pastryimg-2 {
    width: 30%;
}

.pastryimg-3 {
    width: 30%;
}

#footer {
    background-color: #2F332D; 
    overflow: hidden;
    border: #1B1E18 20px solid;
    height: 90px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: xx-large; 
}
